<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{1,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{395,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_creatorBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-7.0}</string>
			<key>spriteSize</key>
			<string>{256,264}</string>
			<key>spriteSourceSize</key>
			<string>{256,264}</string>
			<key>textureRect</key>
			<string>{{789,1},{256,264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{1046,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_eventBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{1440,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{1834,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_freeLevelsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{2228,1},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fullBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{2230,1},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{2232,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{2626,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_listsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{3020,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_mapBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{3414,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{3808,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_moreGamesBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{4202,1},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pathsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{4204,1},{380,393}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_playBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-11.0}</string>
			<key>spriteSize</key>
			<string>{404,416}</string>
			<key>spriteSourceSize</key>
			<string>{404,416}</string>
			<key>textureRect</key>
			<string>{{1,382},{404,416}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_safeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.5}</string>
			<key>spriteSize</key>
			<string>{170,189}</string>
			<key>spriteSourceSize</key>
			<string>{170,189}</string>
			<key>textureRect</key>
			<string>{{418,382},{170,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{589,382},{380,393}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{970,382},{380,393}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_versusBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{1351,382},{380,393}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-6.5}</string>
			<key>spriteSize</key>
			<string>{380,393}</string>
			<key>spriteSourceSize</key>
			<string>{380,393}</string>
			<key>textureRect</key>
			<string>{{1732,382},{380,393}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,164}</string>
			<key>spriteSourceSize</key>
			<string>{128,164}</string>
			<key>textureRect</key>
			<string>{{2113,382},{128,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{122,216}</string>
			<key>spriteSourceSize</key>
			<string>{122,216}</string>
			<key>textureRect</key>
			<string>{{2242,382},{122,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{192,216}</string>
			<key>spriteSourceSize</key>
			<string>{192,216}</string>
			<key>textureRect</key>
			<string>{{2365,382},{192,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{250,216}</string>
			<key>spriteSourceSize</key>
			<string>{250,216}</string>
			<key>textureRect</key>
			<string>{{2558,382},{250,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{253,206}</string>
			<key>spriteSourceSize</key>
			<string>{253,206}</string>
			<key>textureRect</key>
			<string>{{2775,382},{253,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_dailyCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-8.5}</string>
			<key>spriteSize</key>
			<string>{327,217}</string>
			<key>spriteSourceSize</key>
			<string>{327,217}</string>
			<key>textureRect</key>
			<string>{{2982,382},{327,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_eventCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-7.5}</string>
			<key>spriteSize</key>
			<string>{320,233}</string>
			<key>spriteSourceSize</key>
			<string>{320,233}</string>
			<key>textureRect</key>
			<string>{{3200,382},{320,233}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_weeklyCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-9.5}</string>
			<key>spriteSize</key>
			<string>{327,219}</string>
			<key>spriteSourceSize</key>
			<string>{327,219}</string>
			<key>textureRect</key>
			<string>{{3434,382},{327,219}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.0,2.5}</string>
			<key>spriteSize</key>
			<string>{174,173}</string>
			<key>spriteSourceSize</key>
			<string>{174,173}</string>
			<key>textureRect</key>
			<string>{{3654,382},{174,173}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.0,7.5}</string>
			<key>spriteSize</key>
			<string>{232,215}</string>
			<key>spriteSourceSize</key>
			<string>{232,215}</string>
			<key>textureRect</key>
			<string>{{3828,382},{232,215}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.0,10.0}</string>
			<key>spriteSize</key>
			<string>{244,240}</string>
			<key>spriteSourceSize</key>
			<string>{244,240}</string>
			<key>textureRect</key>
			<string>{{4044,382},{244,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,7.5}</string>
			<key>spriteSize</key>
			<string>{250,251}</string>
			<key>spriteSourceSize</key>
			<string>{250,251}</string>
			<key>textureRect</key>
			<string>{{4285,382},{250,251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.0,7.5}</string>
			<key>spriteSize</key>
			<string>{256,255}</string>
			<key>spriteSourceSize</key>
			<string>{256,255}</string>
			<key>textureRect</key>
			<string>{{4536,382},{256,255}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,6.5}</string>
			<key>spriteSize</key>
			<string>{265,267}</string>
			<key>spriteSourceSize</key>
			<string>{265,267}</string>
			<key>textureRect</key>
			<string>{{1,787},{265,267}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.0,6.5}</string>
			<key>spriteSize</key>
			<string>{272,271}</string>
			<key>spriteSourceSize</key>
			<string>{272,271}</string>
			<key>textureRect</key>
			<string>{{267,787},{272,271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,6.5}</string>
			<key>spriteSize</key>
			<string>{277,271}</string>
			<key>spriteSourceSize</key>
			<string>{277,271}</string>
			<key>textureRect</key>
			<string>{{540,787},{277,271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,6.5}</string>
			<key>spriteSize</key>
			<string>{275,269}</string>
			<key>spriteSourceSize</key>
			<string>{275,269}</string>
			<key>textureRect</key>
			<string>{{818,787},{275,269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_01_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-44.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{60,286}</string>
			<key>spriteSourceSize</key>
			<string>{60,286}</string>
			<key>textureRect</key>
			<string>{{1094,787},{60,286}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_01_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{57,286}</string>
			<key>spriteSourceSize</key>
			<string>{57,286}</string>
			<key>textureRect</key>
			<string>{{1381,787},{57,286}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_02_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-47.5,0.0}</string>
			<key>spriteSize</key>
			<string>{77,288}</string>
			<key>spriteSourceSize</key>
			<string>{77,288}</string>
			<key>textureRect</key>
			<string>{{1668,787},{77,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_02_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14.5,0.0}</string>
			<key>spriteSize</key>
			<string>{115,332}</string>
			<key>spriteSourceSize</key>
			<string>{115,332}</string>
			<key>textureRect</key>
			<string>{{1957,787},{115,332}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-18.0,0.0}</string>
			<key>spriteSize</key>
			<string>{162,288}</string>
			<key>spriteSourceSize</key>
			<string>{162,288}</string>
			<key>textureRect</key>
			<string>{{2290,787},{162,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_03_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{18.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{140,354}</string>
			<key>spriteSourceSize</key>
			<string>{140,354}</string>
			<key>textureRect</key>
			<string>{{2579,787},{140,354}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-44.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{90,292}</string>
			<key>spriteSourceSize</key>
			<string>{90,292}</string>
			<key>textureRect</key>
			<string>{{2934,787},{90,292}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_04_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{76,346}</string>
			<key>spriteSourceSize</key>
			<string>{76,346}</string>
			<key>textureRect</key>
			<string>{{3227,787},{76,346}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_05_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-18.5,-6.5}</string>
			<key>spriteSize</key>
			<string>{95,267}</string>
			<key>spriteSourceSize</key>
			<string>{95,267}</string>
			<key>textureRect</key>
			<string>{{3574,787},{95,267}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_05_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{132,296}</string>
			<key>spriteSourceSize</key>
			<string>{132,296}</string>
			<key>textureRect</key>
			<string>{{3670,787},{132,296}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_06_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-47.5,0.0}</string>
			<key>spriteSize</key>
			<string>{77,288}</string>
			<key>spriteSourceSize</key>
			<string>{77,288}</string>
			<key>textureRect</key>
			<string>{{3967,787},{77,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_06_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{63,349}</string>
			<key>spriteSourceSize</key>
			<string>{63,349}</string>
			<key>textureRect</key>
			<string>{{4256,787},{63,349}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spiderDash_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12.5,0.5}</string>
			<key>spriteSize</key>
			<string>{847,73}</string>
			<key>spriteSourceSize</key>
			<string>{847,73}</string>
			<key>textureRect</key>
			<string>{{1,1059},{847,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15.0,0.5}</string>
			<key>spriteSize</key>
			<string>{786,79}</string>
			<key>spriteSourceSize</key>
			<string>{786,79}</string>
			<key>textureRect</key>
			<string>{{849,1059},{786,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-120.5,1.5}</string>
			<key>spriteSize</key>
			<string>{599,73}</string>
			<key>spriteSourceSize</key>
			<string>{599,73}</string>
			<key>textureRect</key>
			<string>{{1636,1059},{599,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-186.5,2.5}</string>
			<key>spriteSize</key>
			<string>{475,71}</string>
			<key>spriteSourceSize</key>
			<string>{475,71}</string>
			<key>textureRect</key>
			<string>{{2236,1059},{475,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-218.0,2.5}</string>
			<key>spriteSize</key>
			<string>{416,69}</string>
			<key>spriteSourceSize</key>
			<string>{416,69}</string>
			<key>textureRect</key>
			<string>{{2712,1059},{416,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-285.5,4.5}</string>
			<key>spriteSize</key>
			<string>{281,67}</string>
			<key>spriteSourceSize</key>
			<string>{281,67}</string>
			<key>textureRect</key>
			<string>{{3129,1059},{281,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-314.5,3.5}</string>
			<key>spriteSize</key>
			<string>{231,67}</string>
			<key>spriteSourceSize</key>
			<string>{231,67}</string>
			<key>textureRect</key>
			<string>{{3411,1059},{231,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-391.5,6.5}</string>
			<key>spriteSize</key>
			<string>{85,59}</string>
			<key>spriteSourceSize</key>
			<string>{85,59}</string>
			<key>textureRect</key>
			<string>{{3643,1059},{85,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerDoor_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{456,452}</string>
			<key>spriteSourceSize</key>
			<string>{456,452}</string>
			<key>textureRect</key>
			<string>{{3729,1059},{456,452}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.5,-6.0}</string>
			<key>spriteSize</key>
			<string>{355,164}</string>
			<key>spriteSourceSize</key>
			<string>{355,164}</string>
			<key>textureRect</key>
			<string>{{4186,1059},{355,164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b9f3be71f24a86cf0c6bb3d8041c518f:05b130463cb97789ed49a6158ca85c2c:33b2fcce3ca4ec9ea925d11e504ae182$</string>
		<key>textureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
	</dict>
</dict>
</plist>
